@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap");

/* ========= General Styling ========= */

header,
footer {
  background-color: rgb(202, 223, 239);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

main {
  background-color: whitesmoke;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

p,
li,
a {
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

a:hover {
  border-bottom: 3px solid black;
}

h1 {
  text-align: center;
}

/* ========= Header Styling ========= */

header a,
#header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

#header-links a {
  padding: 0.5rem 0;
  margin: 0 1rem;
}

#logo-box a:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

header h3 {
  margin: 0;
}

header img {
  max-height: 2rem;
}

/* ========= Main Styling ========= */

.main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

section {
  margin: 1rem;
  width: 50%;
  text-align: center;
}

/* ========= Map Styling ========= */

.map-box {
  height: 100%;
}

.map {
  padding: 1rem;
  min-height: 30rem;
  height: 400px;
  /* border: 1px dashed #999; */
}

/* ========= Jet List Styling ========= */

.jets,
.flights {
  border: 1px dashed #999;
}

.jets ul,
.flights ul {
  margin: 0;
  padding: 0;
}

.jets li,
.flights li {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style-type: none;
  min-height: 4rem;
  border: 1px dashed rgb(202, 223, 239);
}

.jets li:hover {
  border: 1px solid rgb(112, 170, 214);
}

.jets img {
  max-height: 100px; 
}

li.jet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* ========= Jet Information Styling ========= */

#jet-details h3 {
  text-align: center;
}
